*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bg-image {
    background: url(images/bg-image.jpg) center no-repeat;
    background-size: cover;
    min-height: 510px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: absolute;
    background-color: #fff;
    min-height: 350px;
    max-width: 300px;
    margin: 20px;
    padding: 16px;
}

input[type=text] , input[type=password] {
    width: 100%;
    background: #f1f1f1;
    border: none;
    padding: 15px;
    margin: 10px 10px 10px 0;
}

.bg-image button {
    width: 100%;
    background-color: green;
    border-radius: 10px;
    color: #fff;
    padding: 16px 20px 16px 20px;
    cursor: pointer;
    opacity: 0.7;
}

button:hover{
    opacity: 1;
}